@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {

  body {
      background-color: white;
    }
  
    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    label {
      font-size: 20px;
      color: #1e3569;
    }
  
    input {
      flex-grow: 2;
      margin: 2px;
      padding: 10px 20px;
      border: 0.5px none;
      background-color: #e6e6e6;
      border-radius: 20px;
      font-size: 14px;
    }
  
    input:focus {
      outline: none;
    }
  
    button {
      background-color: #008cba;
      margin: 2px;
      border: none;
      border-radius: 20px;
      color: white;
      padding: 10px 20px;
      text-align: center;
      font-size: 14px;
    }
  
    .todo-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h3 {
      margin: 0;
    }

}

