@import url('https://fonts.googleapis.com/css2?family=Jua&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal; */

body {
    font-family: 'Open Sans', sans-serif
}

:root {
    --c-blue: #48b2ff;
    --ff-jua: 'Jua', sans-serif;
}